* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    padding-right: 250px;
}

.header__right {
    display: flex;
    padding-left: 250px;
}

.logo_link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Hurricane', cursive;
}

.menu_icon {
    width: 25px;
    height: 25px;
}

.account_img {
    width: 25px;
    height: 25px;
    margin-right: 35px;
}

.cart_img {
    width: 25px;
    height: 25px;
}


.container {
    display: flex;
    justify-content: center;
}

.market {
    display: flex;
    margin-top: 100px;
}

.card {
    width: 165px;
    height: fit-content;
    margin: 20px;
}

.card_image {
    width: 165px;
    height: 172px;
}

.product_name {
    text-decoration: none;
    color: black;
}

.product_price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart_add_img {
    width: 30px;
    height: 30px;
}

.add_cart {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #1B2738;
    justify-content: center;
    align-items: center;
}