.product {
    display: flex;
    width: 700px;
    margin: 20px auto;
}

.product__photo {
    width: 400px;
    height: 400px;
}

.product__name {
    font-size: 20px;
}

.product-info {
    margin-left: 20px;
}

.product__price {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.color__title {
    margin-top: 15px;
    margin-left: 10px;
}

.color {
    margin-top: 10px;
    margin-left: 2px;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #1B2738;
}

.add-to-cart {
    margin-top: 20px;
    margin-left: 2px;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1B2738;
}