.wrapper {
    margin: 30px;
}
  
.title__heading {
    font-weight: bold;
}
  
.title {
    margin: 30px 0px;
}
  
.asterisk {
    color: red;
}
  
.login {
    margin: 20px 0px;
}
  
.text {
    font-size: 15px;
}

.passwd {
    margin-bottom: 30px;
}
  
input {
    width: 500px;
    height: 30px;
    padding: 0px 2px;
    font-size: 15px;
    border: 0.5px solid #1b2738;
    outline: none;
}

input:focus {
    box-shadow: 4px 4px 5px  rgb(227, 227, 227);
}

.buttons {
    .passwd_restore {
        text-decoration: none;
        color: #1b2738;
        border-bottom: 1px dotted #1b2738;
        margin-right: 20px;
    }

    .register {
        text-decoration: none;
        color: #1b2738;
        border-bottom: 1px dotted #1b2738;
        margin-right: 20px;
    }

    .register:hover {
        border-bottom: 1px solid #1b2738;
    }

    .passwd_restore:hover {
        border-bottom: 1px solid #1b2738;
    }
}

.voiti {
    border: 1px solid #1b2738;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: #1b2738;
    padding: 6px 10px;
    transition: .3s;
}

.voiti:hover {
   color: #1b2738;
   background-color: white; 
}