.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  padding-right: 250px;
}

.header__right {
  display: flex;
  padding-left: 250px;
}

.logo_link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Hurricane", cursive;
}

.menu_icon {
  width: 25px;
  height: 25px;
}

.account_img {
  width: 25px;
  height: 25px;
  margin-right: 35px;
}

.cart_img {
  width: 25px;
  height: 25px;
}

.container {
  display: flex;
  justify-content: center;
}

.market {
  display: flex;
  margin-top: 100px;
}

.card {
  width: 165px;
  height: fit-content;
  margin: 20px;
}

.card_image {
  width: 165px;
  height: 172px;
}

.product_name {
  text-decoration: none;
  color: black;
}

.product_price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart_add_img {
  width: 30px;
  height: 30px;
}

.add_cart {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #1B2738;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.social-medias {
  display: flex;
}

.social-medias_icons {
  list-style: none;
}

.phone-number {
  text-decoration: none;
  color: black;
}

.footer__right-phone {
  margin-bottom: 10px;
}

.wrapper {
  margin: 30px;
}

.title__heading {
  font-weight: bold;
}

.title {
  margin: 30px 0px;
}

.asterisk {
  color: red;
}

.login {
  margin: 20px 0px;
}

.text {
  font-size: 15px;
}

.passwd {
  margin-bottom: 30px;
}

input {
  width: 500px;
  height: 30px;
  padding: 0px 2px;
  font-size: 15px;
  border: 0.5px solid #1b2738;
  outline: none;
}

input:focus {
  box-shadow: 4px 4px 5px rgb(227, 227, 227);
}

.buttons .passwd_restore {
  text-decoration: none;
  color: #1b2738;
  border-bottom: 1px dotted #1b2738;
  margin-right: 20px;
}
.buttons .register {
  text-decoration: none;
  color: #1b2738;
  border-bottom: 1px dotted #1b2738;
  margin-right: 20px;
}
.buttons .register:hover {
  border-bottom: 1px solid #1b2738;
}
.buttons .passwd_restore:hover {
  border-bottom: 1px solid #1b2738;
}

.voiti {
  border: 1px solid #1b2738;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  background-color: #1b2738;
  padding: 6px 10px;
  transition: 0.3s;
}

.voiti:hover {
  color: #1b2738;
  background-color: white;
}

.product {
  display: flex;
  width: 700px;
  margin: 20px auto;
}

.product__photo {
  width: 400px;
  height: 400px;
}

.product__name {
  font-size: 20px;
}

.product-info {
  margin-left: 20px;
}

.product__price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
}

.color__title {
  margin-top: 15px;
  margin-left: 10px;
}

.color {
  margin-top: 10px;
  margin-left: 2px;
  border: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #1B2738;
}

.add-to-cart {
  margin-top: 20px;
  margin-left: 2px;
  border: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1B2738;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
