/* HEADER */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    padding-right: 250px;
}

.header__right {
    display: flex;
    padding-left: 250px;
}

.logo_link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Hurricane', cursive;
}

.menu_icon {
    width: 25px;
    height: 25px;
}

.account_img {
    width: 25px;
    height: 25px;
    margin-right: 35px;
}

.cart_img {
    width: 25px;
    height: 25px;
}

/* HEADER END */


.product {
    display: flex;
    width: 700px;
    margin: 20px auto;
}

.product__photo {
    width: 400px;
    height: 400px;
}

.product__name {
    font-size: 20px;
}

.product-info {
    margin-left: 20px;
}

.product__price {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.color__title {
    margin-top: 15px;
    margin-left: 10px;
}

.color {
    margin-top: 10px;
    margin-left: 2px;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #1B2738;
}

.add-to-cart {
    margin-top: 20px;
    margin-left: 2px;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1B2738;
}